In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_colwidth', 1000)

dataset_id = pd.read_csv("clean-Data-Corpus-IND.csv", index_col=0)
dataset_id

                                                                           teks
0              matahari bintang pusat ta surya milik diameter 14 juta kilometer
1                    bumi planet tiga matahari ta surya satu planet milik hidup
2                                merkurius planet kecil ta surya dekat matahari
3                  venus planet matahari ta surya kenal planet kembar bumi ukur
4             mars planet empat matahari ta surya kenal planet merah warna khas
5   yupiter planet besar ta surya milik satelit ganymede satelit besar ta surya
6                             saturnus planet besar ta surya kenal cinnya colok
7        uranus planet miring ekstrem ta surya satu planet nama mitologi yunani
8           neptunus planet jauh matahari ta surya kenal angin kencang atmosfer
9   pluto dulunya anggap planet sembilan ta surya klasifikasi planet kerdil iau
10                                                                          NaN
11                                                                          NaN
12                                                                          NaN
13                                                                          NaN
14                                                                          NaN

In [2]:
dataset_id.dropna(inplace=True)

In [3]:
validate_id = pd.read_csv("Data-Corpus-IND.csv")
validate_id

       id                                                                                                                                          teks keterangan
0   indo1                                              Matahari adalah bintang pusat dari Tata Surya yang memiliki diameter sekitar 1.4 juta kilometer.   Matahari
1   indo2                           Bumi adalah planet ketiga dari Matahari dalam Tata Surya dan satu-satunya planet yang diketahui memiliki kehidupan.       Bumi
2   indo3                                                                  Merkurius adalah planet terkecil di Tata Surya dan terdekat dengan Matahari.  Merkurius
3   indo4          Venus adalah planet kedua dari Matahari dalam Tata Surya dan dikenal sebagai "planet kembar" Bumi karena ukurannya yang hampir sama.      Venus
4   indo5                       Mars adalah planet keempat dari Matahari dalam Tata Surya dan dikenal sebagai "planet merah" karena warnanya yang khas.       Mars
5   indo6    Yupiter adalah planet terbesar di Tata Surya dan memiliki banyak satelit, termasuk Ganymede yang merupakan satelit terbesar di Tata Surya.    Yupiter
6   indo7                                               Saturnus adalah planet kedua terbesar di Tata Surya dan dikenal karena cincinnya yang mencolok.   Saturnus
7   indo8  Uranus adalah planet yang miringnya sangat ekstrem dalam Tata Surya dan merupakan satu-satunya planet yang diberi nama dari mitologi Yunani.     Uranus
8   indo9                    Neptunus adalah planet terjauh dari Matahari dalam Tata Surya dan dikenal karena angin yang sangat kencang di atmosfernya.   Neptunus
9  indo10          Pluto dulunya dianggap sebagai planet kesembilan dalam Tata Surya, namun sekarang diklasifikasikan sebagai "planet kerdil" oleh IAU.      Pluto

In [4]:
corpus_id = dataset_id.teks.tolist()
corpus_id

['matahari bintang pusat ta surya milik diameter 14 juta kilometer',
 'bumi planet tiga matahari ta surya satu planet milik hidup',
 'merkurius planet kecil ta surya dekat matahari',
 'venus planet matahari ta surya kenal planet kembar bumi ukur',
 'mars planet empat matahari ta surya kenal planet merah warna khas',
 'yupiter planet besar ta surya milik satelit ganymede satelit besar ta surya',
 'saturnus planet besar ta surya kenal cinnya colok',
 'uranus planet miring ekstrem ta surya satu planet nama mitologi yunani',
 'neptunus planet jauh matahari ta surya kenal angin kencang atmosfer',
 'pluto dulunya anggap planet sembilan ta surya klasifikasi planet kerdil iau']

In [7]:
import pandas as pd

# Membaca data dari file CSV
dataset_id = pd.read_csv("clean-Data-Corpus-IND.csv", index_col=0)

# Menampilkan DataFrame
print(dataset_id)

                                                                           teks
0              matahari bintang pusat ta surya milik diameter 14 juta kilometer
1                    bumi planet tiga matahari ta surya satu planet milik hidup
2                                merkurius planet kecil ta surya dekat matahari
3                  venus planet matahari ta surya kenal planet kembar bumi ukur
4             mars planet empat matahari ta surya kenal planet merah warna khas
5   yupiter planet besar ta surya milik satelit ganymede satelit besar ta surya
6                             saturnus planet besar ta surya kenal cinnya colok
7        uranus planet miring ekstrem ta surya satu planet nama mitologi yunani
8           neptunus planet jauh matahari ta surya kenal angin kencang atmosfer
9   pluto dulunya anggap planet sembilan ta surya klasifikasi planet kerdil iau
10                                                                          NaN
11                                                                          NaN
12                                                                          NaN
13                                                                          NaN
14                                                                          NaN

In [8]:
# Menghapus baris yang mengandung nilai NaN
dataset_id.dropna(inplace=True)

In [9]:
# Menyimpan DataFrame ke dalam file CSV baru
dataset_id.to_csv("cleaned_data.csv")

In [10]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

# Membaca data dari file CSV
dataset_id = pd.read_csv("clean-Data-Corpus-IND.csv", index_col=0)

# Menghapus baris yang mengandung nilai NaN
dataset_id.dropna(inplace=True)

# Mengambil kolom teks dan mengonversi menjadi list
corpus_id = dataset_id["teks"].tolist()

# Inisialisasi model TF-IDF
tr_idf_model_id = TfidfVectorizer()

# Melakukan fit transform pada corpus untuk mendapatkan vektor TF-IDF
tf_idf_vector_id = tr_idf_model_id.fit_transform(corpus_id)

# Sekarang Anda dapat menggunakan tf_idf_vector_id untuk analisis lanjutan

In [11]:
print(type(tf_idf_vector_id), tf_idf_vector_id.shape)

<class 'scipy.sparse._csr.csr_matrix'> (10, 52)

In [12]:
tf_idf_array_id = tf_idf_vector_id.toarray()

print(tf_idf_array_id)

[[0.3749053  0.         0.         0.         0.         0.3749053
  0.         0.         0.         0.         0.3749053  0.
  0.         0.         0.         0.         0.         0.
  0.3749053  0.         0.         0.         0.         0.
  0.         0.3749053  0.         0.         0.20125975 0.
  0.         0.27882812 0.         0.         0.         0.
  0.         0.         0.3749053  0.         0.         0.
  0.         0.13861006 0.13861006 0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.37221824 0.         0.         0.         0.         0.
  0.         0.         0.         0.43785676 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.23505387 0.
  0.         0.32564698 0.         0.         0.         0.
  0.35462745 0.         0.         0.         0.37221824 0.
  0.         0.16188449 0.16188449 0.43785676 0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.51808869 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.51808869 0.         0.         0.         0.
  0.         0.         0.         0.         0.27812463 0.
  0.51808869 0.         0.         0.         0.         0.
  0.20980431 0.         0.         0.         0.         0.
  0.         0.19154785 0.19154785 0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.36658851 0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.43123425 0.28514451 0.         0.
  0.         0.         0.         0.         0.23149872 0.
  0.         0.         0.         0.         0.         0.
  0.34926378 0.         0.         0.         0.         0.
  0.         0.15943601 0.15943601 0.         0.43123425 0.
  0.43123425 0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.38764468 0.         0.         0.         0.
  0.         0.         0.         0.25632183 0.         0.
  0.38764468 0.         0.         0.38764468 0.20809861 0.38764468
  0.         0.         0.         0.         0.         0.
  0.31395986 0.         0.         0.         0.         0.
  0.         0.14332007 0.14332007 0.         0.         0.
  0.         0.38764468 0.         0.        ]
 [0.         0.         0.         0.         0.51972969 0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.30569049 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.22735103 0.         0.         0.         0.
  0.1237919  0.         0.         0.61138098 0.         0.
  0.         0.2260399  0.2260399  0.         0.         0.
  0.         0.         0.         0.30569049]
 [0.         0.         0.         0.         0.39647541 0.
  0.         0.46639152 0.46639152 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.30839151 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.18886912 0.         0.         0.         0.         0.46639152
  0.         0.17243437 0.17243437 0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.36150336 0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.36150336 0.36150336 0.36150336 0.
  0.29278757 0.         0.         0.         0.30731089 0.
  0.         0.13365509 0.13365509 0.         0.         0.36150336
  0.         0.         0.36150336 0.        ]
 [0.         0.         0.40282042 0.40282042 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.40282042
  0.         0.         0.         0.26635647 0.40282042 0.
  0.         0.         0.         0.         0.21624537 0.
  0.         0.         0.         0.         0.         0.40282042
  0.16312547 0.         0.         0.         0.         0.
  0.         0.14893085 0.14893085 0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.35512495 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.35512495
  0.         0.         0.         0.         0.35512495 0.
  0.         0.         0.         0.         0.         0.35512495
  0.         0.         0.35512495 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.28762159 0.35512495 0.         0.         0.         0.
  0.35512495 0.13129687 0.13129687 0.         0.         0.
  0.         0.         0.         0.        ]]

In [13]:
words_set_id = tr_idf_model_id.get_feature_names_out()

print(words_set_id)

['14' 'anggap' 'angin' 'atmosfer' 'besar' 'bintang' 'bumi' 'cinnya'
 'colok' 'dekat' 'diameter' 'dulunya' 'ekstrem' 'empat' 'ganymede' 'hidup'
 'iau' 'jauh' 'juta' 'kecil' 'kembar' 'kenal' 'kencang' 'kerdil' 'khas'
 'kilometer' 'klasifikasi' 'mars' 'matahari' 'merah' 'merkurius' 'milik'
 'miring' 'mitologi' 'nama' 'neptunus' 'planet' 'pluto' 'pusat' 'satelit'
 'satu' 'saturnus' 'sembilan' 'surya' 'ta' 'tiga' 'ukur' 'uranus' 'venus'
 'warna' 'yunani' 'yupiter']

In [14]:
df_tf_idf_id = pd.DataFrame(tf_idf_array_id, columns = list(words_set_id))

df_tf_idf_id

         14    anggap    angin  atmosfer     besar   bintang      bumi    cinnya     colok     dekat  diameter   dulunya   ekstrem     empat  ganymede     hidup       iau     jauh      juta     kecil    kembar     kenal  kencang    kerdil      khas  kilometer  klasifikasi      mars  matahari     merah  merkurius     milik    miring  mitologi      nama  neptunus    planet     pluto     pusat   satelit      satu  saturnus  sembilan     surya        ta      tiga      ukur    uranus     venus     warna    yunani  yupiter
0  0.374905  0.000000  0.00000   0.00000  0.000000  0.374905  0.000000  0.000000  0.000000  0.000000  0.374905  0.000000  0.000000  0.000000   0.00000  0.000000  0.000000  0.00000  0.374905  0.000000  0.000000  0.000000  0.00000  0.000000  0.000000   0.374905     0.000000  0.000000  0.201260  0.000000   0.000000  0.278828  0.000000  0.000000  0.000000   0.00000  0.000000  0.000000  0.374905  0.000000  0.000000  0.000000  0.000000  0.138610  0.138610  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.00000
1  0.000000  0.000000  0.00000   0.00000  0.000000  0.000000  0.372218  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000   0.00000  0.437857  0.000000  0.00000  0.000000  0.000000  0.000000  0.000000  0.00000  0.000000  0.000000   0.000000     0.000000  0.000000  0.235054  0.000000   0.000000  0.325647  0.000000  0.000000  0.000000   0.00000  0.354627  0.000000  0.000000  0.000000  0.372218  0.000000  0.000000  0.161884  0.161884  0.437857  0.000000  0.000000  0.000000  0.000000  0.000000  0.00000
2  0.000000  0.000000  0.00000   0.00000  0.000000  0.000000  0.000000  0.000000  0.000000  0.518089  0.000000  0.000000  0.000000  0.000000   0.00000  0.000000  0.000000  0.00000  0.000000  0.518089  0.000000  0.000000  0.00000  0.000000  0.000000   0.000000     0.000000  0.000000  0.278125  0.000000   0.518089  0.000000  0.000000  0.000000  0.000000   0.00000  0.209804  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.191548  0.191548  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.00000
3  0.000000  0.000000  0.00000   0.00000  0.000000  0.000000  0.366589  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000   0.00000  0.000000  0.000000  0.00000  0.000000  0.000000  0.431234  0.285145  0.00000  0.000000  0.000000   0.000000     0.000000  0.000000  0.231499  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000   0.00000  0.349264  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.159436  0.159436  0.000000  0.431234  0.000000  0.431234  0.000000  0.000000  0.00000
4  0.000000  0.000000  0.00000   0.00000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.387645   0.00000  0.000000  0.000000  0.00000  0.000000  0.000000  0.000000  0.256322  0.00000  0.000000  0.387645   0.000000     0.000000  0.387645  0.208099  0.387645   0.000000  0.000000  0.000000  0.000000  0.000000   0.00000  0.313960  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.143320  0.143320  0.000000  0.000000  0.000000  0.000000  0.387645  0.000000  0.00000
5  0.000000  0.000000  0.00000   0.00000  0.519730  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000   0.30569  0.000000  0.000000  0.00000  0.000000  0.000000  0.000000  0.000000  0.00000  0.000000  0.000000   0.000000     0.000000  0.000000  0.000000  0.000000   0.000000  0.227351  0.000000  0.000000  0.000000   0.00000  0.123792  0.000000  0.000000  0.611381  0.000000  0.000000  0.000000  0.226040  0.226040  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.30569
6  0.000000  0.000000  0.00000   0.00000  0.396475  0.000000  0.000000  0.466392  0.466392  0.000000  0.000000  0.000000  0.000000  0.000000   0.00000  0.000000  0.000000  0.00000  0.000000  0.000000  0.000000  0.308392  0.00000  0.000000  0.000000   0.000000     0.000000  0.000000  0.000000  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000   0.00000  0.188869  0.000000  0.000000  0.000000  0.000000  0.466392  0.000000  0.172434  0.172434  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.00000
7  0.000000  0.000000  0.00000   0.00000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.361503  0.000000   0.00000  0.000000  0.000000  0.00000  0.000000  0.000000  0.000000  0.000000  0.00000  0.000000  0.000000   0.000000     0.000000  0.000000  0.000000  0.000000   0.000000  0.000000  0.361503  0.361503  0.361503   0.00000  0.292788  0.000000  0.000000  0.000000  0.307311  0.000000  0.000000  0.133655  0.133655  0.000000  0.000000  0.361503  0.000000  0.000000  0.361503  0.00000
8  0.000000  0.000000  0.40282   0.40282  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000   0.00000  0.000000  0.000000  0.40282  0.000000  0.000000  0.000000  0.266356  0.40282  0.000000  0.000000   0.000000     0.000000  0.000000  0.216245  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000   0.40282  0.163125  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.148931  0.148931  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.00000
9  0.000000  0.355125  0.00000   0.00000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.355125  0.000000  0.000000   0.00000  0.000000  0.355125  0.00000  0.000000  0.000000  0.000000  0.000000  0.00000  0.355125  0.000000   0.000000     0.355125  0.000000  0.000000  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000   0.00000  0.287622  0.355125  0.000000  0.000000  0.000000  0.000000  0.355125  0.131297  0.131297  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.00000

In [15]:
result_id = pd.concat([df_tf_idf_id, validate_id.teks], axis=1)
result_id.head(2)

         14  anggap  angin  atmosfer  besar   bintang      bumi  cinnya  colok  dekat  diameter  dulunya  ekstrem  empat  ganymede     hidup  iau  jauh      juta  kecil  kembar  kenal  kencang  kerdil  khas  kilometer  klasifikasi  mars  matahari  merah  merkurius     milik  miring  mitologi  nama  neptunus    planet  pluto     pusat  satelit      satu  saturnus  sembilan     surya        ta      tiga  ukur  uranus  venus  warna  yunani  yupiter                                                                                                                 teks
0  0.374905     0.0    0.0       0.0    0.0  0.374905  0.000000     0.0    0.0    0.0  0.374905      0.0      0.0    0.0       0.0  0.000000  0.0   0.0  0.374905    0.0     0.0    0.0      0.0     0.0   0.0   0.374905          0.0   0.0  0.201260    0.0        0.0  0.278828     0.0       0.0   0.0       0.0  0.000000    0.0  0.374905      0.0  0.000000       0.0       0.0  0.138610  0.138610  0.000000   0.0     0.0    0.0    0.0     0.0      0.0                     Matahari adalah bintang pusat dari Tata Surya yang memiliki diameter sekitar 1.4 juta kilometer.
1  0.000000     0.0    0.0       0.0    0.0  0.000000  0.372218     0.0    0.0    0.0  0.000000      0.0      0.0    0.0       0.0  0.437857  0.0   0.0  0.000000    0.0     0.0    0.0      0.0     0.0   0.0   0.000000          0.0   0.0  0.235054    0.0        0.0  0.325647     0.0       0.0   0.0       0.0  0.354627    0.0  0.000000      0.0  0.372218       0.0       0.0  0.161884  0.161884  0.437857   0.0     0.0    0.0    0.0     0.0      0.0  Bumi adalah planet ketiga dari Matahari dalam Tata Surya dan satu-satunya planet yang diketahui memiliki kehidupan.

In [16]:
print(words_set_id)

['14' 'anggap' 'angin' 'atmosfer' 'besar' 'bintang' 'bumi' 'cinnya'
 'colok' 'dekat' 'diameter' 'dulunya' 'ekstrem' 'empat' 'ganymede' 'hidup'
 'iau' 'jauh' 'juta' 'kecil' 'kembar' 'kenal' 'kencang' 'kerdil' 'khas'
 'kilometer' 'klasifikasi' 'mars' 'matahari' 'merah' 'merkurius' 'milik'
 'miring' 'mitologi' 'nama' 'neptunus' 'planet' 'pluto' 'pusat' 'satelit'
 'satu' 'saturnus' 'sembilan' 'surya' 'ta' 'tiga' 'ukur' 'uranus' 'venus'
 'warna' 'yunani' 'yupiter']

In [18]:
search_id = input("Masukan kata kunci yang akan dicari: ")
print(f"Berikut merupakan hasil dari pencarian kata: '{search_id}'\nSetelah diurutkan berdasarkan yang paling relevan")
result_id[[search_id, "teks"]].sort_values(by=search_id, ascending = False)

Masukan kata kunci yang akan dicari:  bintang

Berikut merupakan hasil dari pencarian kata: 'bintang'
Setelah diurutkan berdasarkan yang paling relevan

    bintang                                                                                                                                          teks
0  0.374905                                              Matahari adalah bintang pusat dari Tata Surya yang memiliki diameter sekitar 1.4 juta kilometer.
1  0.000000                           Bumi adalah planet ketiga dari Matahari dalam Tata Surya dan satu-satunya planet yang diketahui memiliki kehidupan.
2  0.000000                                                                  Merkurius adalah planet terkecil di Tata Surya dan terdekat dengan Matahari.
3  0.000000          Venus adalah planet kedua dari Matahari dalam Tata Surya dan dikenal sebagai "planet kembar" Bumi karena ukurannya yang hampir sama.
4  0.000000                       Mars adalah planet keempat dari Matahari dalam Tata Surya dan dikenal sebagai "planet merah" karena warnanya yang khas.
5  0.000000    Yupiter adalah planet terbesar di Tata Surya dan memiliki banyak satelit, termasuk Ganymede yang merupakan satelit terbesar di Tata Surya.
6  0.000000                                               Saturnus adalah planet kedua terbesar di Tata Surya dan dikenal karena cincinnya yang mencolok.
7  0.000000  Uranus adalah planet yang miringnya sangat ekstrem dalam Tata Surya dan merupakan satu-satunya planet yang diberi nama dari mitologi Yunani.
8  0.000000                    Neptunus adalah planet terjauh dari Matahari dalam Tata Surya dan dikenal karena angin yang sangat kencang di atmosfernya.
9  0.000000          Pluto dulunya dianggap sebagai planet kesembilan dalam Tata Surya, namun sekarang diklasifikasikan sebagai "planet kerdil" oleh IAU.